# Mongo DB
# Local development
MONGODB_URI='mongodb://127.0.0.1:27017/url-shortner'

# Port
PORT=4000

# Debug
LOG_LEVEL='silly'

API_PREFIX=/api/v1
SOCKET_PREFIX=/socket
ADMIN_EMAIL=
DOMAIN=http://localhost:3000/

